<!DOCTYPE html>
<html>
    <head>
        <title>Gestor de tarefas</title>
        <link rel="Stylesheet" href="style.css">
        
    </head>
    <body>
        <nav class="i">
        <h2>Gestor de Tarefas</h2>
         </nav>
        <div>
        <input type="text" name="list"  id="u" placeholder="Digite a tarefa">
        <button  id="add" title="clique aqui para adicionar noma tarefa">➕</button>
        </div><br>
        <div id="minhasTarefas">
         
        </div>
    </div>
    </body>
      <script src="./script.js"></script>
</html>